# Read CSV file from 'data' folder

In [5]:
# Open and read CSV file with pandas
import pandas as pd
df = pd.read_csv('data/5275.KL.csv')

# View the first 15 records or rows
df.head(15)

          Date   Open   High    Low  Close  Adj Close       Volume
0   2016-03-29  0.545  0.610  0.540  0.585   0.556298  136961800.0
1   2016-03-30  0.590  0.640  0.585  0.635   0.603845   49645200.0
2   2016-03-31  0.640  0.640  0.610  0.620   0.589581   16497800.0
3   2016-04-01  0.615  0.635  0.615  0.625   0.594336    7211600.0
4   2016-04-04  0.625  0.655  0.620  0.645   0.613354   22005400.0
5   2016-04-05  0.645  0.680  0.640  0.670   0.637128   31916800.0
6   2016-04-06  0.670  0.685  0.660  0.670   0.637128   12120600.0
7   2016-04-07  0.675  0.680  0.640  0.655   0.622864    4592600.0
8   2016-04-08  0.650  0.655  0.630  0.650   0.618109    9812400.0
9   2016-04-11  0.650  0.670  0.650  0.670   0.637128    4807400.0
10  2016-04-12  0.665  0.665  0.645  0.660   0.627618    2455000.0
11  2016-04-13  0.655  0.655  0.630  0.635   0.603845    4370200.0
12  2016-04-14  0.635  0.640  0.620  0.625   0.594336    9148400.0
13  2016-04-15  0.625  0.640  0.620  0.635   0.603845    1972800.0
14  2016-04-18  0.630  0.630  0.610  0.610   0.580072    2436000.0

In [7]:
# To view the last 25 records
df.tail(25)

            Date   Open   High    Low  Close  Adj Close     Volume
976   2020-03-03  0.875  0.875  0.860  0.860      0.860   526000.0
977   2020-03-04  0.870  0.870  0.860  0.870      0.870   828300.0
978   2020-03-05  0.860  0.865  0.860  0.860      0.860   516700.0
979   2020-03-06  0.860  0.860  0.855  0.860      0.860   528200.0
980   2020-03-09  0.850  0.850  0.805  0.815      0.815   742700.0
981   2020-03-10  0.800  0.825  0.800  0.800      0.800  2590300.0
982   2020-03-11  0.840  0.840  0.800  0.800      0.800    68400.0
983   2020-03-12  0.800  0.805  0.795  0.800      0.800  1853000.0
984   2020-03-13    NaN    NaN    NaN    NaN        NaN        NaN
985   2020-03-16    NaN    NaN    NaN    NaN        NaN        NaN
986   2020-03-17    NaN    NaN    NaN    NaN        NaN        NaN
987   2020-03-18    NaN    NaN    NaN    NaN        NaN        NaN
988   2020-03-19    NaN    NaN    NaN    NaN        NaN        NaN
989   2020-03-20    NaN    NaN    NaN    NaN        NaN        NaN
990   2020-03-23    NaN    NaN    NaN    NaN        NaN        NaN
991   2020-03-24    NaN    NaN    NaN    NaN        NaN        NaN
992   2020-03-25    NaN    NaN    NaN    NaN        NaN        NaN
993   2020-03-26    NaN    NaN    NaN    NaN        NaN        NaN
994   2020-03-27    NaN    NaN    NaN    NaN        NaN        NaN
995   2020-03-30    NaN    NaN    NaN    NaN        NaN        NaN
996   2020-03-31    NaN    NaN    NaN    NaN        NaN        NaN
997   2020-04-01    NaN    NaN    NaN    NaN        NaN        NaN
998   2020-04-02    NaN    NaN    NaN    NaN        NaN        NaN
999   2020-04-03    NaN    NaN    NaN    NaN        NaN        NaN
1000  2020-04-06    NaN    NaN    NaN    NaN        NaN        NaN